section.cod#cod
    .container
        .row
            .col-12.text-center
                p.cod__subtitle ЦОД ПОД КЛЮЧ
                h2.cod__title Производим полный цикл работ по строительству ЦОДов для майнинга под ключ от 2-ух недель
                p.cod__text Разработка индивидуального проекта здания и системы охлаждения для создания оптимальной температуры с минимальным потреблением электрcod
        .row
            .col-12.col-lg-4.d-lg-flex.text-center.text-lg-left.align-items-center.mt-5
                img.img-fluid.mr-lg-4(src="img/project.png", alt="")
                h3.cod__item Разрабатываем индивидуальный проект здания
            .col-12.col-lg-4.d-lg-flex.text-center.text-lg-left.align-items-center.mt-5
                img.img-fluid.mr-lg-4(src="img/fundamentals.png", alt="")
                h3.cod__item Закладываем фундамент
            .col-12.col-lg-4.d-lg-flex.text-center.text-lg-left.align-items-center.mt-5
                img.img-fluid.mr-lg-4(src="img/carcas.png", alt="")
                h3.cod__item Возводим каркас
            .col-12.col-lg-8.d-lg-flex.text-center.text-lg-left.align-items-center.mt-5
                img.img-fluid.mr-lg-4(src="img/sett.png", alt="")
                div
                    h3.cod__item Производим монтаж оборудования
                    p.cod__item_text.d-none.d-lg-block Стеллажи, нагнетатели воздуха, производство и установка системы фильтрации воздуха от пыли, трансформаторы напряжения, вводно-распределительные устройства, розетки прочие расходники
            .col-12.col-lg-4.d-lg-flex.text-center.text-lg-left.align-items-center.mt-5
                img.img-fluid.mr-lg-4(src="img/infostructure.png", alt="")
                h3.cod__item Проектируем и настраиваем сетевую инфраструктуру
        .row.mt-5
            .col-12.text-center
                button.btn.cod__btn Оставить заявку