section#firmware.firmware
    .container
        .row
            .col-12.text-center
                p.repairs__subtitle Прошивка
                h2.repairs__title Сокращение срока возврата инвестиций до 35%
        .row.justify-content-center.mt-4.align-items-start
            .col-12.col-lg-3.text-center.m-4
                img(src="img/rating.png", alt="rating")
                p.firmware__text.mt-2 Повышение хешрейта на 15-35%
            .col-12.col-lg-3.text-center.m-4
                img(src="img/hourglass.png", alt="rating")
                p.firmware__text.mt-2 Повышение срока службы хеш-плат в 4 раза
            .col-12.col-lg-3.text-center.m-4
                img(src="img/rain2.png", alt="rating")
                p.firmware__text.mt-2 Автоматическая настройка разгона
            .col-12.col-lg-3.text-center.m-4
                img(src="img/shield.png", alt="rating")
                p.firmware__text.mt-2 Встроенная защита от вирусов
            .col-12.col-lg-3.text-center.m-4
                img(src="img/boost.png", alt="rating")
                p.firmware__text.mt-2 Поддержка <br> ASIC Boost
            .col-12.col-lg-3.text-center.m-4
                img(src="img/settings2.png", alt="rating")
                p.firmware__text.mt-2 Удобные инструменты обслуживания
        .row.mt-4
            .col-12.text-center
                button.btn.firmware__btn Скачать прошивку