footer.footer#footer
    .container
        .row
            .col-12.col-lg-4.text-center.text-lg-left.d-none.d-lg-block
                a.footer__logo(href="/")
                    img(src="img/logo.png", alt="footer-logo")
            .col-6.col-lg-4.text-left.text-lg-left
                .div.mt-4
                    a.footer__social(href="tel:89998888888").d-flex.align-items-center
                        i(class="fab fa-whatsapp").mr-lg-3.mr-1.d-block
                        span +7 (999) 888-88-88
                .div.mt-4
                    a.footer__social(href="tel:89998888888").d-flex.align-items-center
                        i(class="fas fa-phone").mr-lg-3.mr-1.d-block.phone
                        span +7 (999) 888-88-88        
            .col-6.col-lg-4.text-left.text-lg-left
                .div.mt-4
                    a.footer__social(href="tel:89998888888").d-flex.align-items-center
                        i(class="fab fa-instagram").mr-lg-3.mr-1.d-block
                        span oneboost
                .div.mt-4
                    a.footer__social(href="tel:89998888888").d-flex.align-items-center
                        i(class="fab fa-telegram-plane").mr-lg-3.mr-1.d-block.telegram
                        span oneboost 

                