section#repairs.repairs
    .container
        .row
            .col-12.text-center
                p.repairs__subtitle Ремонт оборудования
                h2.repairs__title Полный комплекс услуг по ремонту и диагностике майнингового оборудования
        .row.mt-4
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/interactive.png", alt="interactive")
                        p.repairs__item_title Диагностика
                    p.repairs__info Настройка майнеров любой сложности по требованиям клиента.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/repairing-service.png", alt="interactive")
                        p.repairs__item_title НАСТРОЙКА
                    p.repairs__info Выявим неисправность оборудования и назовем цену до начала работ.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/surface1.png", alt="interactive")
                        p.repairs__item_title ПРОШИВКА
                    p.repairs__info Увеличение хешрейта до 30%, снижение вероятности поломок майнеров.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/settings.png", alt="interactive")
                        p.repairs__item_title РЕМОНТ КОНТРОЛЬНЫХ ПЛАТ
                    p.repairs__info Ремонт контрольных плат за кратчайшие сроки.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/settings.png", alt="interactive")
                        p.repairs__item_title РЕМОНТ БЛОКОВ ПИТАНИЯ
                    p.repairs__info Ремонтируем как оригинальные, так и неоригинальные блоки питания.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/settings.png", alt="interactive")
                        p.repairs__item_title РЕМОНТ ХЕШ-ПЛАТ
                    p.repairs__info Ремонт хеш-плат с заменой чипов всех современных моделей майнеров.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/shop-cart.png", alt="interactive")
                        p.repairs__item_title ПРОДАЖА КОМПЛЕКТУЮЩИХ
                    p.repairs__info Любой вид комплектующих для любой модели майнеров.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/worm.png", alt="interactive")
                        p.repairs__item_title ЛЕЧЕНИЕ ОТ ВИРУСОВ
                    p.repairs__info Возвращаем контроль над майнером хозяину оборудования.
            .col-12.col-lg-4.text-center.text-lg-left.p-2
                .repair__list
                    .repairs__item.d-flex.align-items-center
                        img.img-fluid.mr-2(src="img/reverse.png", alt="interactive")
                        p.repairs__item_title ОБСЛУЖИВАНИЕ ЦОДОВ
                    p.repairs__info Настройка, мониторинг, ремонт оборудования.
        .row.mt-5.align-items-end
            .col-12.col-lg-auto.text-center.text-lg-left
                p.repairs__text.d-none.d-lg-block Не знаете, какого характера поломка? <br> Позвоните нам и проконсультируйтесь со специалистом.
                p.repairs__text.d-lg-none Не знаете, что за поломка? Проконсультируйтесь со специалистом.
            .col-12.col-lg.text-center.text-lg-left
                button.btn.repairs__btn Связаться со специалистом