section.shop#shop
    .container
        .row
            .col-12.text-center
                p.repairs__subtitle Магазин
                h2.repairs__title Лучшие майнинг-фермы
        .row.mt-4
            .col-12.text-center.tabs.d-block.m-auto
                ul.tabs__caption
                    li.active ANTMINER
                    li CANAAN
                    li БЛОКИ ПИТАНИЯ
                p.tabs__subtitle ANTMINER - это самые популярные и эффективные майнеры, которые окупаются в течении 4-5 месяцев.
                .tabs__content.active
                    .row
                        .col-12.text-left.d-lg-flex.tabs__content_item.align-items-center.justify-content-between.d-none.d-lg-flex
                            img.img-fluid(src="img/product.jpg", alt="")
                            .product__info
                                p.product__info_title ANTMINER S9
                                .d-flex.align-items-center.mt-2
                                    img(src="img/speedometer.png", alt="").mr-2
                                    span 13.5 TH/s ±5%
                                .d-flex.align-items-center.mt-2
                                    img(src="img/renewable-energy.png", alt="").mr-2
                                    span 1320Watt
                                .d-flex.align-items-center.mt-2
                                    img(src="img/sha.png", alt="").mr-2
                                    span SHA-256 Bitcoin и другие
                            .product__description
                                p.product__description_title ОПИСАНИЕ
                                p.product__description_text Самые популярные и эффективные майнеры <br> Майнер окупится в течение 4-5 месяцев при курсе биткоина от 10 000 долларов <br> Чтобы сократить период окупаемости майнера, сделайте прошивку
                    .row
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product.jpg", alt="")
                                .product__info
                                    p.product__info_title ANTMINER S9i
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 13.5 TH/s ±5%
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1320Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mt-lg-4
                                img.img-fluid(src="img/product.jpg", alt="")
                                .product__info
                                    p.product__info_title ANTMINER S9j
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 14.5 TH/s ±5%
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1320Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product1_3.png", alt="")
                                .product__info
                                    p.product__info_title ANTMINER S9se
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 16.20 TH/s
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1280Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mt-lg-4
                                img.img-fluid(src="img/product1_4.png", alt="")
                                .product__info
                                    p.product__info_title ANTMINER S9k
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 14 TH/s ± 10%
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1190Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product1_5.png", alt="")
                                .product__info
                                    p.product__info_title ANTMINER S917
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 13.5 TH/s ±5%
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1320Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mt-lg-4
                                img.img-fluid(src="img/product1_5.png", alt="")
                                .product__info
                                    p.product__info_title ANTMINER S917Pro
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 13.5 TH/s ±5%
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1320Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product1_5.png", alt="")
                                .product__info
                                    p.product__info_title ANTMINER T17
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 13.5 TH/s ±5%
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1320Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                .tabs__content
                    .row
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product2_1.png", alt="")
                                .product__info
                                    p.product__info_title AvalonMiner 841
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 13.6 TH/s
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1290Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mt-lg-4
                                img.img-fluid(src="img/product2_1.png", alt="")
                                .product__info
                                    p.product__info_title AvalonMiner 852
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 15 TH/s
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1500Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-between.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product2_1.png", alt="")
                                .product__info
                                    p.product__info_title AvalonMiner 1041
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/speedometer.png", alt="").mr-2
                                        span 31-36.9 TH/s
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1736-2361Watt
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/sha.png", alt="").mr-2
                                        span SHA-256 Bitcoin и другие
                .tabs__content
                    .row
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-around.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product3_1.png", alt="")
                                .product__info
                                    p.product__info_title Блок питания APW3++
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1290Watt
                                    
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-around.mt-lg-4
                                img.img-fluid(src="img/product3_2.png", alt="")
                                .product__info
                                    p.product__info_title Блок питания “Муравей”
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1800Watt
                                    
                        .col-12.col-lg-6.text-left.p-2.p-lg-0
                            .d-flex.tabs__content_item.align-items-center.justify-content-around.mr-lg-4.mt-lg-4
                                img.img-fluid(src="img/product3_3.png", alt="")
                                .product__info
                                    p.product__info_title БЛОК ПИТАНИЯ
                                    .d-flex.align-items-center.mt-2
                                        img(src="img/renewable-energy.png", alt="").mr-2
                                        span 1800Watt
                        
        .row.mt-5
            .col-12.col-lg-auto.text-center.text-lg-left
                p.repairs__text.d-none.d-lg-block Не нашли нужное оборудование? Вы можете заказать  <br> его у нас и мы его доставим.
                p.repairs__text.d-lg-none Не нашли нужное оборудование? <br> Вы можете заказать его у нас и мы его доставим.
            .col-12.col-lg.text-center.text-lg-left
                button.btn.repairs__btn Связаться со специалистом
