doctype html
html(lang="ru")
    include includes/head.pug
        title One Boost
    body
        include includes/header.pug
        main#main
            include includes/repairs.pug
            include includes/shop.pug
            include includes/firmware.pug
            include includes/cod.pug
            include includes/contacts.pug
        include includes/footer.pug
        include includes/scripts.pug
        
                            

                                            
                                            
   
                                    
                                                






        

            


        
    





            